.logo-image{
    width: 5em;
    height: 5em;
    margin: 0 auto;
    display: block;
}

header{
    background-color: rgb(192, 191, 191);
    justify-content: space-between;
    text-align: center;
    display: flex;

}