.logo-image{
    width: 5em;
    height: 5em;
    margin: 0 auto;
    display: block;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;

}