.logo-image{
    width: 5em;
    height: 5em;
    margin: 0 auto;
    display: block;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* changed from sticky to fixed */
    top: 0;
    left: 0;
    width: 100%;      /* ensure full width */
    z-index: 1000;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}