.login-page{
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text for contrast */
    font-family: 'Nunito', sans-serif; /* Use Nunito font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin-top: 0; /* Remove margin-top */
    text-align: center; /* Center text */
}

.login-container {
  text-align: justify;
  margin-top: 5em;
  font-family: 'Nunito', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin: auto;
}

.login-form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px;
  background-color: #ffc0cb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
