.login-page {
    background-color: rgb(255, 255, 255);
    border: 5em transparent;
    padding: 5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky; /* changed from sticky to fixed */     /* ensure full width */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 0; /* Remove margin-top for better centering */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin: auto;
}

.login-form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px;
  background-color: #ffc0cb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
